body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  margin: 15px auto;
  padding: 0 10px;
}

@media (min-width: 800px) {
  body {
    max-width: 85%;
  }
}

span.blue { color: #00376D; font-size: 1.17em; font-weight: bold; }

table.nicetable {
  border-collapse: collapse;
}

table.nicetable td, table.nicetable th {
  border: 1px solid #ddd;
  padding: 4px;
}

table.nicetable tr:nth-child(even){background-color: #f2f2f2; }
table.nicetable th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #4C7F99;
  color: white;
}

